[tool.poetry]
name = "pipelinedp"
version = "0.1.0"
description = ""
authors = ["Chinmay Shah <chinmayshah3899@gmail.com>", "Vadym Doroshenko <dvadym@google.com>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.6"
apache-beam = "^2.29.0"
pyspark = "^3.1.1"
absl-py = "^0.12.0"
dataclasses = {version = "^0.8", python = "~3.6"}
numpy = "<1.21"
scipy = "^1.5"
yapf = "^0.31.0"

[tool.poetry.dev-dependencies]

[tool.yapf]
based_on_style = "google"
indent_width = 4

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
