<header class="o-wrapper c-header">
  <a href="{{ "/" | relative_url }}">
    <img class="c-header__logo" src="{{ "/assets/images/pipelinedp-color-lockup.svg" | relative_url }}" width="159" height="28" alt="{{ site.title | escape }}">
  </a>
  <nav class="c-header__nav">
    <ul class="c-header__list">
      <li class="c-header__item">
        <a class="c-header__link {% if page.url == "/get-started/" %}is-active{% endif %}" href="{%- link get-started.md -%}">Get started</a>
      </li>
      <li class="c-header__item">
        <a class="c-header__link {% if page.url == "/overview/" %}is-active{% endif %}" href="{%- link overview.md -%}">Overview</a>
      </li>
      <li class="c-header__item">
        <a class="c-header__link {% if page.url == "/api-documentation/" %}is-active{% endif %}" href="{%- link api-documentation.md -%}">API documentation</a>
      </li>
    </ul>
  </nav>
</header>
