/* Base */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  line-height: 1.5;
  margin: 0;
}
