/* Header */

.c-header {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-top: 2rem;
  width: 100%;

  @media (min-width: 48rem) {
    flex-flow: row nowrap;
  }

  &__logo {
    display: block;
  }

  &__nav {
    margin-top: 1.5rem;

    @media (min-width: 48rem) {
      margin-left: auto;
      margin-top: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: block;
    list-style-type: none;
    margin-bottom: 1rem;
    text-align: center;

    @media (min-width: 34rem) {
      display: inline-block;
      margin-bottom: 0;
      margin-left: 3.5rem;
      text-align: left;
    }

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__link {
    color: #3c4043;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);

    &:focus,
    &:hover,
    &.is-active {
      color: #202124;
    }
  }
}
