/* Partners */

.c-partners {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 5rem;
  padding-top: 3rem;
  text-align: center;

  &__title {
    color: #5f6368;
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0;
    padding-bottom: 3rem;
    text-transform: uppercase;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    @media (min-width: 34rem) {
      flex-flow: row nowrap;
    }
  }

  &__logo {
    display: inline-block;
    margin: 1rem 0;

    @media (min-width: 34rem) {
      margin: 0 3rem;
    }
  }
}
